body{
    text-align: center;
    background-color: black;
}

main{
    max-width: 100%;
    height: 100vh;
    border: 1px black solid;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(58, 57, 57, 0.726);
    border: none;
    border-radius: 15px;
}

#calculator{
    max-width: 400px;
    height: 100vh;
    margin: 100px auto;
}
button{
    width: 75px;
    height: 75px;
    font-size: 25px;
    margin: 5px;
    border-radius: 15px;
    border: none;
    color: black;
}

#equal{
    width: 252px;
}

#result{
    width: 85%;
    height: 80px;
    border: none;
    border-radius: 15px;
    margin-bottom: 7px;
    font-size: 3rem;
}


.color{
    background-color: orange;
}

#clear{
    background-color: rgb(255, 0, 0);
}

.number{
    background-color: grey;
}